{% extends "base.html" %}
{% block content %}
<div class="screen screen--welcome" style="background-image:url('{{ cfg.branding.backgrounds.welcome }}')">
  <div class="logo-wrap">
    <img class="logo" src="{{ cfg.branding.logo }}" alt="Logo">
  </div>
  <form class="card form" method="post" action="/start" autocomplete="off">
    <label>Nama</label>
    <input name="name" required placeholder="Nama lengkap" />
    <label>No. HP</label>
    <input name="phone" required placeholder="08xx..." inputmode="tel" />
    <button type="submit" class="btn btn-primary">Start</button>
  </form>
</div>
{% endblock %}
