{% extends "base.html" %} {% block content %}
<div
  class="screen screen--welcome"
  style="background-image:url('{{ cfg.branding.backgrounds.welcome }}')"
>
  <div class="logo-wrap">
    <!-- <img class="logo" src="{{ cfg.branding.logo }}" alt="Logo" /> -->
  </div>
  <form class="card form" method="post" action="/start" autocomplete="off">
    <label>Name</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      pattern="[A-Za-z\s]+"
      title="Nama hanya boleh mengandung huruf dan spasi."
    />
    <label>Phone Number</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      required
      inputmode="tel"
      pattern="[0-9]+"
      title="Hanya masukkan angka (0-9) untuk Nomor HP."
    />
    <button type="submit" class="btn btn-primary submit-button">Register</button>
  </form>
</div>
{% endblock %}
